<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>{{ STYLE }}</style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="https://erp.soen.solutions/static/media/icon.e25761c6.png" alt="logo" height="50" style="margin-right: 1rem">
                <strong>SOEN</strong>&nbsp;Solutions
            </div>
            <div class="card">
                <h1>Reset your Password</h1>
                <hr>
                <p>Need to reset your password? No problem! Just click the button below an you'll be on your way.</p>
                <a href="{{ ACTION }}" class="button" target="_blank">
                    <span>Reset my Password</span>
                </a>
                <p>If you did not make this request, please ignore this email.</p>
            </div>
            <div class="footer">
                &copy; 2021 SOEN Solutions, Inc.
                <br/>
                All rights reserved
            </div>
        </div>
    </body>
</html>
